@import url(https:fonts.googleapis.com/css2family=Dancing + Script:weight) * {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
body {
  font-family: "Arial Narrow Bold", sans-serif;
}
.navbar-brand {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 35px;
  color: coral !important;
}
.navbar-link {
  font-size: 16px;
  margin: 15px;
  color: black !important;
}
.navbar-link:hover {
  color: blue !important;
}

.active .nav-link {
  color: blue !important;
}
.menu-right-btn {
  padding: 13px 46px;
  margin-right: 4%;
  background-color: transparent;
  transition: all 300ms ease-in;
}
.menu-right-btn:hover {
  color: rgb(59, 33, 33);
  background-color: blue;
}
.site-content {
  background-image: url(./images/home-office-desk.jpg);
  background-attachment: fixed;
  background-size: cover;
}
.site.title,
.site-desc {
  color: rgb(216, 0, 180);
  font-family: Tahoma;
}
.site-title {
  margin-top: 30%;
  margin-bottom: 6%;
  font-style: 50px;
}
.site-desc {
  font-size: 18px;
  padding-left: 15%;
  padding-top: 5px;
  margin-top: 0px;
}
.site-btn1 {
  margin-left: 5%;
  background-color: black;
  color: white;
}
.site-btn2 {
  background-color: white;
}
.site-btn1,
.site-btn2 {
  margin-top: 5%;
  margin-bottom: 40%;
}
.section-1 .heading-1 {
  margin-top: 8%;
}
.section-2 .heading-2 {
  margin-top: 5%;
}
.section-1 .para-1 {
  width: 60%;
  margin-left: 20%;
  margin-bottom: 5%;
}
.section-1 .card-text,
.para-1 {
  color: black;
}
.section-1 {
  margin-bottom: 8%;
}
.card {
  width: 20rem;
}
.card img {
  width: 318px;
  height: 318px;
}
.section-2 .container-fluid {
  background-image: url(./images/studio-republic-fotKKqWNMQ4-unsplash.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.col-md-5 {
  font-size: 14;
  color: white;
}
.section-2 .heading-1 {
  margin-top: 20%;
  margin-bottom: 4%;
  font-family: monospace;
  width: 80%;
  color: white;
}
.section-2 .para- {
  width: 80%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  margin-bottom: 7%;
}
.section-2 .btn {
  margin: 30%;
  padding: 2% 5%;
}
.section-3 {
  margin-top: 6%;
  color: rgb(3, 32, 66);
}
.section-3 p {
  color: rgb(58, 65, 64);
}
.section-4 {
  margin-top: 8%;
}
.section-4 .row .col-md-7 {
  margin-top: 10%;
  margin-bottom: 10%;
}
.section-4 a {
  color: rgb(219, 122, 10);
  font-size: 40px;
  text-emphasis: none;
}
.section-4 .para-1 {
  color: white;
  font-family: "Times New Roman", Times, serif;
  margin-top: 7%;
  font-size: 20px;
}
.social i {
  color: blue;
  font-size: 30px;
}
@media screen and (max-width: 700px) {
  main {
    width: 100%;
  }
  .site-btn1,
  .site-btn2 {
    margin: 5% 0 05% 0;
  }
  .section-4 img {
    width: 100% !important;
  }
  .site-content{
    width:100%  !important;
  }
}
